* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  
}

body {
    display: flex;
    background-color: hsl(233, 47%, 7%);
    margin: auto;
    align-items: center;
    min-height: 100vh
}

span {
    color: hsl(277, 64%, 61%)
}

.card {
    display: flex;
    background-color: hsl(244, 37%, 16%);
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    height: 400px;
    max-width: 900px;
}
.card h1 {
    color:hsl(0, 0%, 100%);
}

#paragraph {
    font-size: medium;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
    font-size: small;
    font-family: "Inter", sans-serif

}

.text {
    padding: 60px;
    margin-right: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;    
    flex-direction: column;
    gap: 30px;
    max-width: 450px;
}




.text p {
    font-size: 15px
}


.img-wrapper {
  position: relative;
  display: inline-block;
  max-width: 450px;
}

.img-desk{ 
    border-radius: 0 10px 10px 0;
    max-width: 450px;
    height: 400px;
}


.img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(277, 82%, 46%, 0.534);
  mix-blend-mode: multiply;
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}

.datos {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
}   

.datos ul{
    list-style: none;
    color:hsl(0, 0%, 100%);
    font-size: medium;
    
}

.datos ul p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10px;
    letter-spacing:2PX;
    margin-top: 5px;
    font-family:"Lexend Deca", sans-serif;
}

@media (max-width: 900px) {

  body {
    padding: 20px;
  }

  .card {
    flex-direction: column-reverse; 
    width: 100%;
    height: auto; 
    max-width: 350px;
  }

  .text {
    max-width: 100%;
    padding: 30px 25px;
    text-align: center;
    margin-right: 0;
  }
  #paragraph {
    font-size: large;
  }

  .img-wrapper,
  .img-desk {
    width: 100%;
    max-height: 250px;
  }

  .img-desk {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  

  .datos {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

